/* 
uncomment section for scroll snap
html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 50px;
}
section {
  scroll-snap-align: start;
} */
:root {
  --text-xs: 1rem;
  --text-sm: 1.25rem;
  --text-md: 1.5rem;
  --text-lg: 2.6rem;
  --text-xl: 3.4rem;
  --text-2xl: 4.6rem;
  --text-3xl: 6.6rem;
  --text-green: #15a347;
  --filter-green: invert(43%) sepia(98%) saturate(423%) hue-rotate(89deg)
    brightness(95%) contrast(88%);
}
.ref {
  position: absolute;
  width: 1px;
  margin-top: 40vh;
}
.main-body {
  background-color: #282c34;
}
.text-green {
  color: var(--text-green) !important;
}
.main-body > div:last-child {
  padding-bottom: 10rem;
}
.filter-green {
  filter: var(--filter-green);
}
.home-container {
  padding-top: 8rem;
  padding-left: 5.9rem !important;
  min-height: 40rem;
}
.home-title {
  font-size: var(--text-2xl);
  line-height: 1.1;
  margin-top: 1.6rem;
  font-weight: 900;
}
.home-title > span {
  font-weight: 800;
}
.home-subtitle {
  font-size: var(--text-lg);
  line-height: 1.1;
  font-weight: 200;
}
.home-subtitle > span {
  font-weight: 800;
}
.home-content {
  font-size: var(--text-sm);
  max-width: 700px;
  font-weight: 200;
}

.sub-container {
  padding-top: 7rem;
  padding-left: 5.9rem !important;
  min-height: 45rem;
}
.heading-title {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: var(--text-xl);
  font-weight: 900;
}
.line {
  padding-left: 1rem;
  width: 100%;
  height: 1px;
  background: #ebecf3;
  opacity: 0.3;
}
.about-skill-title {
  font-size: var(--text-md);
  font-weight: 700;
}
.about-skill {
  font-size: var(--text-xs) !important;
  color: #ced4da !important;
}
.about-content {
  text-align: justify;
  font-weight: 200;
  font-size: var(--text-sm);
}
.about-content > p:first-child::first-letter {
  border-radius: 0.4rem;
  padding: 0.7rem;
  margin-right: 0.3rem;
  background-color: #212529;
  font-weight: 700;
  float: left;
  font-size: var(--text-md);
}
.about-footer {
  font-weight: 500;
  display: flex;
  gap: 1rem;
}
.about-link-arrow {
  width: 1.6rem;
  filter: var(--filter-green);
  margin-bottom: 0.1rem;
}
.about-link {
  opacity: 75%;
  margin-bottom: 0.025rem;
  width: var(--text-sm);
}
.about-link:hover {
  opacity: 100%;
  filter: var(--filter-green);
  cursor: pointer;
}
.project-row {
  margin-top: 1rem !important;
}
.project-card {
  width: 29% !important;
}
.project-card > .card {
  height: 17rem;
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
}
.project-card-img {
  width: 85% !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-inline: auto;
  margin-top: 3.5rem;
  margin-bottom: -3.5rem;
}
.project-title {
  display: flex;
  align-items: center;
  font-size: var(--text-md);
  gap: 0.6rem;
}
.project-title > div {
  display: flex;
  gap: 0.6rem;
}
.project-title > div > .btn {
  padding: 0;
  border: 0;
  margin: 0;
}
.project-title > div > .btn > img {
  margin: auto;
  width: var(--text-md);
  vertical-align: baseline !important;
}
.project-title > div:first-child {
  font-weight: 700;
}
.project-container {
  margin-block: 1.6rem;
}
.project-container > div:not(:first-child) {
  font-size: var(--text-xs);
}
.project-language {
  font-weight: 600;
  margin-block: 0.8rem;
}
.project-content {
  font-weight: 200;
  text-align: justify;
}
.project-more {
  font-weight: 600;
}
.project-more:hover {
  text-decoration: underline;
  cursor: pointer;
}
.modal-project {
  max-width: 35% !important;
  margin-block: 3.5rem !important;
}
.modal-header {
  overflow: hidden;
}
.modal-body {
  padding: 1.2rem !important;
  gap: 1.2rem;
}
.modal-project-title {
  font-weight: bold;
  font-size: var(--text-lg);
  margin: 0;
}
.modal-project-logo {
  width: var(--text-lg);
}
.modal-project-language {
  font-size: var(--text-xs);
  margin-top: 0.2rem;
  margin-bottom: 1.2rem;
}
.modal-project-description {
  text-align: justify;
}
.modal-project-footer {
  margin-top: 2.4rem;
}
.modal-project-footer > p:first-child {
  font-size: var(--text-md);
  font-weight: 700;
}
.modal-project-footer > div:last-child {
  display: flex;
  gap: 1.2rem;
}
.modal-link {
  display: flex !important;
  gap: 0.4rem;
  text-decoration: none !important;
}
.modal-link > img {
  margin: auto;
  width: var(--text-xs);
}
.modal-link {
  padding: 0% !important;
}
.modal-link.disabled {
  text-decoration: line-through;
}
.modal-link-space {
  text-decoration: none !important;
}
.modal-link:hover {
  text-decoration: underline !important;
}
.contact {
  align-items: center;
  text-align: center;
}
.contact-title {
  font-size: var(--text-3xl);
  font-weight: 900;
  line-height: 1;
}
.contact-content {
  font-size: var(--text-sm);
  font-weight: 200;
}
.contact-content > .text-green {
  font-weight: 400;
  text-decoration: none !important;
}
.contact-content > .text-green:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
.contact-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-email {
  display: flex;
  font-size: var(--text-md);
  gap: 0.3rem;
  width: fit-content;
  text-decoration: none !important;
}
.contact-email:hover {
  color: var(--text-green);
  filter: var(--filter-green);
  cursor: pointer;
}
.contact-email > img {
  margin-top: 0.5rem;
  width: 2rem;
}
