.nav-item > a {
  display: block;
  padding: 0.5rem;
  font-size: var(--text-xs);
  text-decoration: none;
  background: 0 0;
  border: 0;
  color: white;
}
.nav-item > a:hover {
  opacity: 75%;
  border-bottom: 0.125rem solid rgb(34, 180, 119, 0.75);
}
.nav-item > a.active {
  opacity: 100%;
  font-weight: 700;
  border-bottom: 0.125rem solid var(--text-green);
}
.nav-bgcolor {
  background-color: rgb(22, 24, 29) !important;
}
.footer-svg {
  width: 1.5rem;
}
